.news {
    &__header {
        &__title {
            font-size: 28px;
            font-weight: 600;
        }
    }
    
}

.newsList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 78px 10px 10px;
}
